<div class="reviewme-space-y-2">
    @foreach (var option in Options)
    {
        <div class="reviewme-space-x-2">
            <input class="reviewme-accent-blue-500 reviewme-transition"
               checked="@(option == Value)"
               type="radio"
               id="@Name-@option"
               name="@Name"
               value="@option"
               @onchange="@(e => OnChange.InvokeAsync(e.Value?.ToString()))">
            <label class="reviewme-mb-0" for="@Name-@option">@option</label>
        </div>
    }
</div>

@code {

    [Parameter]
    [EditorRequired]
    public string Value { get; set; } = string.Empty!;

    [Parameter]
    [EditorRequired]
    public EventCallback<string> OnChange { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public ICollection<string> Options { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public string Name { get; set; } = string.Empty;

}
